<style>
@media screen and (max-width: 600px) {
#foxpush_native_html_mobile, .foxpush_prompt_message, .ticticker-item, .ticticker-move, .ticticker-wrap, .ticcontainer, .ticdefault, .ticdanger, .ticwarning, .ticinfo, .ticsuccess, .ticbtn {display: none;}
}
.fbut {
  background-color: #4885ed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;border-radius: 8px;
  font-size: 16px;
  margin: 4px 2px;transition: 0.3s;
  cursor: pointer;
}.fbut:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);background-color: #3cba54;
}
.fbutt {width: 100%;}
</style>
<style>
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  color: #fff;
  background-color: red;box-shadow: 0 2px 0px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.chip:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

@media screen and (max-width: 350px) {
 .chip {
  height: 30px;
  font-size: 10px;
  line-height: 30px;
}
  
 .chip img {
  height: 30px;
  width: 30px;
}
}
</style><style>
div.gallery {
  margin: 5px;
  border: 1px solid #fff;
  float: left;background-color: #fff;
  width: 180px;border-radius: 10px;  box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

div.gallery:hover {
  border: 1px solid #fff;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.gallery img {
  width: 100%;
  height: auto;border-radius: 10px;
}

div.desc {
  padding: 15px;
  text-align: center;
}
@media screen and (max-width: 350px) {
  div.gallery {
    width: 25%;
  }
  div.desc {
  padding: 8px;font-size: 20%;

}
</style>
<style>
.sidetable{border:0px;border-radius:10px;box-shadow:2px 2px 3px #888888;margin:0;padding:0;width:100%;border-spacing:0;background-color:#ffff}
.sidetable tr:first-child td:first-child{border-width:0 0 2px;border-radius:10px 10px 0px 0px}
.sidetable tr:first-child td{background:#ffff;border-style:solid;border-width:0 0 1px 1px;color:#8ec63f;font-size:14px;font-weight:bold;text-align:center;border:1px solid #8ec63f}
.sidetable td{border-bottom-colors:none;border-left-colors:none;border-right-colors:none;border-top-colors:none;border-color:#fff;border-image:none;border-style:solid;border:0px;text-align:left;border-radius:5px;color:#ea67cb;font-size:12px;font-weight:normal;padding:11px}
@media only screen and (max-width:760px),(min-device-width:768px) and (max-device-width:1024px){.custom_mobile{float:none}
.csstable tr td{padding:5px 2px !important}
}
.slidetable-ticker-ul,.slidetable-ticker-ul li{width:100%;float:left;list-style:none;margin:1px}
.slidetable-ticker-ul li:hover{border:1px solid #f1f1f1;border-radius:5px}
.slidetable-ticker-ul li figure{width:40px;height:40px;margin-right:8px;float:left;margin-top:6px}
.slidetable-trend-box .slidetable-ticker-ul li .flash-content{margin-top:10px}
.slidetable-ticker-ul li figure img{max-width:100%;border-radius:25px}
.slidetable-ticker-ul li figure img:hover{border:1px solid green}
.slidetable-ticker-ul li .flash-content{width:calc(100% - 48px);font-size:12px;font-weight:100%;text-align:left;color:#000;float:left;height:40px;overflow:hidden;line-height:20px}
@media only screen and (max-width:1099px) and (min-width:1025px){.diff-right-split{width:100%}
}
table *{margin:0;padding:0;outline:none}
.ticbtn{border:0px;background-color:white;font-size:20px;border-radius:5px;cursor:pointer;transition:0.3s;text-align:center;color:white}
.ticbtn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)}
.ticsuccess{background-color:#4CAF50}
.ticinfo{background:#2196F3}
.ticwarning{background:#ff9800}
.ticdanger{background:#f44336}
.ticdefault{background:#ffff;color:#2196F3}
@keyframes ticker{0%{transform:translate3d(0,0,0)}
100%{transform:translate3d(-100%,0,0)}
}
.ticcontainer{width:100%;overflow:hidden;height:30px}
.ticticker-wrap{width:100%;padding-left:100%;background-color:#fff;cursor:pointer}
.ticticker-move{display:inline-block;white-space:nowrap;padding-right:100%;animation-iteration-count:infinite;animation-timing-function:linear;animation-name:ticker;animation-duration:18s}
.ticticker-move:hover{animation-play-state:paused}
.ticticker-item{display:inline-block;padding:0 2rem;height:30px;text-align:center;vertical-align:middle}
.homebutton{border:none;height:75px;width:146px;color:#fd1ec8;padding:12px 20px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;margin:4px 4px;cursor:pointer;-webkit-transition-duration:01s;float:left;transition:0.7s;border-radius:8px;background-color:#ffff}
.homebutton:hover{box-shadow:0 16px 32px 0 rgba(0,0,0,0.2);background-color:#4885ed;color:#ffff}
.vertical-menu{width:100%;height:300px;border-radius:10px;border:1px solid #4885ed;overflow-y:auto;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);transition:0.3s}
.vertical-menu:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)}
.vertical-menu a{background-color:#ffff;color:;display:block;padding:12px;text-decoration:none}
.vertical-menu a:hover{background-color:#4885ed;color:#ffff;font-weight:bold;border-radius:10px}
.vertical-menu a.active{background-color:#4885ed;color:white}
.listboxs_lts{background:#fff;clear:both;margin-top:10px;width:100%;border:1px solid #f1f1f1;box-shadow:0 3px 1px 0 rgba(0,0,0,.32);border-radius:10px}
#listboxshash{border-bottom:3px solid #ea67cb;font-size:16px;font-weight:700;padding:8px 15px;color:#434343;margin:0}
.viewall{font-size:14px;color:#ea67cb;text-decoration:none;float:right}
.listboxs_lts ul{list-style:none;width:100%;display:inline-block;font-size:15px;margin-bottom:0}
.listboxs_lts ul li{margin:0 0 5px 0;float:left;width:100%}
.listboxs_lts ul li a{color:#666;display:inline-block;margin-bottom:5px;text-decoration:none}
.listboxs_lts ul li a:hover{color:#ea67cb;border-bottom:1px solid #ea67cb}
.threecol{background:#fff;clear:both;margin-top:10px;width:100%;border:1px solid #f1f1f1;box-shadow:0 2px 1px 0 rgba(0,0,0,.32);border-radius:10px}
#threecolhash{border-bottom:3px solid #ea67cb;font-weight:700;padding:8px 15px;color:#434343;margin:0}
.threecol ul{list-style:none;width:100%;display:inline-block;font-size:15px;margin-bottom:0}
.threecol ul li{margin:0 0 10px 0;float:left;width:33%}
.threecol ul li a{color:#666;display:inline-block;margin-bottom:10px;text-decoration:none}
.threecol ul li a:hover{color:#ea67cb}
.threecolva{background:#fff;clear:both;margin-top:10px;width:100%;border:1px solid #f1f1f1;box-shadow:0 2px 1px 0 rgba(0,0,0,.32);border-radius:10px}
#threecolvahash{border-bottom:3px solid #4885ed;font-weight:700;padding:8px 15px;color:#434343;margin:0}
.viewall{font-size:14px;color:#0071bc;text-decoration:none;float:right}
.threecolva ul{list-style:none;width:100%;display:inline-block;font-size:15px;margin-bottom:0}
.threecolva ul li{margin:0 0 10px 0;float:left;width:33%}
.threecolva ul li a{color:#666;display:inline-block;margin-bottom:10px;text-decoration:none}
.threecolva ul li a:hover{color:#ea67cb}
.ssidetable{border:0px;border-radius:10px;box-shadow:2px 2px 3px #888888;margin:0;padding:0;width:100%;border-spacing:0}
.ssidetable tr:first-child td:first-child{border-width:0 0 2px;border-radius:10px 10px 0px 0px}
.ssidetable tr:first-child td{background:#ffff;border-style:solid;border-width:0 0 1px 1px;color:#8ec63f;font-family:Arial;font-size:14px;font-weight:bold;text-align:center;border:1px solid #8ec63f}
.ssidetable td{border-bottom-colors:none;border-left-colors:none;border-right-colors:none;border-top-colors:none;border-color:#fff;border-image:none;border-style:solid;border:0px;border-radius:10px;color:#ea67cb;font-size:12px;font-weight:normal;padding:11px;text-align:left}
@media only screen and (max-width:760px),(min-device-width:768px) and (max-device-width:1024px){.custom_mobile{float:none}
.csstable tr td{padding:5px 2px !important}
}

.carouselbtn {
  border: 0px;
  background-color: white;
  font-size: 20px;border-radius: 5px;
  cursor: pointer; height: 100px;
  transition: 0.3s;text-align: center;color: white;border-radius: 25px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.carouselbtn:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);transform: scale(1.1);
}
/* Green */
.carouselsuccess {  background-color: #4CAF50;  }
/* Blue */
.carouselinfo { background: #2196F3;}
/* Orange */
.carouselwarning { background: #ff9800;}
  @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .carouselcontainer{
    width: 100%;position: absolute;
    overflow: hidden;height: 100px;border-radius: 25px;
  }
  .carouselticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: #fff;
  cursor: pointer;
  }
  .carouselticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;box-shadow: 16px 32px 48px 16px rgba(0,0,0,0.2);
    animation-name: ticker;
    animation-duration: 30s;
  }
  .carouselticker-move:hover{
    animation-play-state: paused;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);transform: scale(0.8);
  }
  .carouselticker-item{
    display: inline-block;width=150px;
    padding: 0 2rem;height: 100px;text-align:center; vertical-align:middle;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
</style>










<style>
.vidcolumn {
  float: left;
  width: 33.33%;box-sizing: border-box;
  padding: 5px;
}

/* Clearfix (clear floats) */
.vidrow::after {
  content: "";
  clear: both;
  display: table;box-sizing: border-box;
}
img {

  height: 100%;
}
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
</style>
<style>

.ticbtn {
  border: 0px;
  background-color: white;
  font-size: 20px;border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;text-align: center;color: white;
}

.ticbtn:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Green */
.ticsuccess {  background-color: #4CAF50;  }
/* Blue */
.ticinfo { background: #2196F3;}
/* Orange */
.ticwarning { background: #ff9800;}
/* Red */
.ticdanger {  background: #f44336;}
/* Gray */
.ticdefault {   background: #ffff; color:#2196F3;}
  @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .ticcontainer{
    width: 100%;
    overflow: hidden;height: 30px;
  }
  .ticticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: #fff;
  cursor: pointer;
  }
  .ticticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 18s;
  }
  .ticticker-move:hover{
    animation-play-state: paused;
  }
  .ticticker-item{
    display: inline-block;
    padding: 0 2rem;height: 30px;text-align:center; vertical-align:middle;
  }
</style>
